/*-- scss:defaults --*/

$presentation-font-size-root: 40px;
$presentation-h2-font-size: 6rem;
$presentation-heading-color: white;
$presentation-heading-line-height: 3;
$presentation-block-margin: 1px; 

$white:    #fff !default;
$black:    #000 !default;
$blue: #006cb6;

$code-color: $blue;
$font-family-sans-serif: 'Arial', sans-serif;

.side-menu-button, .progress {
  
  color: $blue;
  
}

ul.slide-menu-item, li.slide-menu-item, li.slide-menu-item-vertical, ul.slide-menu-item-vertical ul.toolbar-panel-button, li.toolbar-panel-button {
 
 font-size: 1rem; 
  
}

p, ul, li {
  text-align: left;
  color: $black;
  font-size: 3rem;
}

a.fragment {
  color: $blue;
}

.slide-background-content{
  background-image: "images/blank-slide.png";
  background-size: contain;
}

#title-slide{
  
  h1 {
    text-align: left;
    line-height: 100px;
    
  }
  
  
}

#workflow-overview h1{

      text-align: left;
      position:fixed;
      left:5px;
      bottom:5px;
      color: $black;
      font-size: 6rem;

}

#workflow-details h1{
  
  text-align: left;
  position:fixed;
  left:5px;
  bottom:5px;
  color: $black;
  font-size: 6rem;
  
}

#lessons-learned h1{
  
  text-align: left;
  position:fixed;
  left:5px;
  bottom:5px;
  color: $black;
  font-size: 6rem;
  
}

#any-questions h1{
  
  text-align: left;
  position:fixed;
  left:5px;
  bottom:5px;
  color: $black;
  font-size: 6rem;
  
}

#additional-resources h1{
  
  text-align: left;
  position:fixed;
  left:5px;
  bottom:5px;
  color: $black;
  font-size: 6rem;
  
}
/*-- scss:rules --*/

