/*-- scss:defaults --*/
$presentation-h1-font-size: 6em !default;
$presentation-h2-font-size: 3.2em;
$presentation-heading-color: white;
$presentation-heading-line-height: 2;
$presentation-block-margin: 5px;

$presentation-font-size-root: 40px;
$presentation-font-smaller: 1.8em;
$font-size: 2em;
$font-family-sans-serif: Arial;

/* TODO: Customize html appearance by setting SCSS variables */
/* See https://quarto.org/docs/output-formats/html-themes.html#theme-options */

/*-- scss:rules --*/

/* TODO: Provide custom CSS rules */